.item:nth-child(1){
     background-color: red;
}

.item:nth-child(2){
    background-color: blue ;
}
.item:nth-child(3){
    background-color: purple;
}
.item:nth-child(4){
    background-color: green;
}
.item:nth-child(5){
    background-color: orange;
}